/* ==UserStyle==
@name           www.evernote.com/client/web: black, minimal
@namespace      github.com/openstyles/stylus
@version        1.1.0
@description    Black, help button remove, space optimized
@author         Vitaly Zdanevich
==/UserStyle== */

@-moz-document url-prefix("https://www.evernote.com") {

	body,
	en-noteheader > *,
	#qa-NAV,
	[data-tooltipmark='noteslistcontainer'],
	textarea[placeholder='Title'],
	#qa-NOTE_DETAIL,
	#qa-NAV ul
	{
		background: #000 !important;
	}

	#qa-NAV > div,
	#qa-HOME-CONTAINER,
	[id$='NOTES_LIST_NOTE'],
	[aria-label='Note Editor'],
	.rv-sticky-leaf-node > button, /* Note list view: Snippets: separation between them */
	button[role='tab'] /* "Notes", "Reminders" buttons underscore */
	{
		border: 0;
	}

	.rv-sticky-leaf-node > button > div > div > div:nth-child(2) {
		/* Note list: tags */
		padding-bottom: 70px;
	}

	#qa-USER_PORTRAIT {
		/* Avatar: drop border */
		border-radius: 0;
	}

	body.ion {
		padding-left: 20px;
	}

	/* Note URL */
	en-noteheader button
	{
		max-width: 100% !important;
		width: 100%;
	}
	en-noteheader button span {
		max-width: 100% !important;
	}

	.en-internal-link {
		color: green !important;
	}

	en-note,
	en-noteheader > *
	{
		padding: 0 !important;
		background: #000 !important;
	}

	en-noteheader > * /* Note title */
	{
		max-width: 100% !important;
	}

	/* "Notes", "Reminders": color of inactive */
	[ui-revamp='true'] {
		--notelist-tab-text: #555;
	}

	#qa-NAV > div {
		margin: 0;
	}

	.notifications-wrapper + div:not(.OtWRWwk0PK8wAqcrQ55b) {
		width: 33px;
	}
	[style*='width: 96px'] {
		width: 30px !important;
		min-width: 30px !important;
	}

	#qa-NAV > div > ul > li:nth-child(3), /* Vertical sidebar: buttons with Search, New Note, ... */
	#qa-NAV ul ul,
	#qa-NAV ul ul button,
	#qa-NAV ul ul a
	{
		padding: 0 !important;
	}
	#qa-NAV ul li {
		/* Buttons at left for Home, Star, All Notes, Tasks... */
		width: 100%;
	}
	#qa-NAV ul ul a:first-child {
		margin-top: 20px;
	}
	#qa-NAV ul ul button {
		margin: 20px 0 20px;
	}

	#qa-NOTE_DETAIL {
		border: 0;
		margin: 0;
	}

	[id$=qa-NOTES_SIDEBAR_NOTE] {
		padding: 0 0 0 10px;
	}

	/* Separators vertical between some editor buttons */
	[data-color-theme='dark'] {
		--editor-formatting-button-divider: #000;
		--home-bg-color: #000;
	}
	[ui-revamp='true'] {
		--widgetsNoBackground-margin: 10px 0 0 0;
	}

	/* Home: top-right buttons for note creation and ... */
	[id*='qa-HOME_WIDGET_Notes'] > section {
		z-index: 2;
	}


	[id*='qa-HOME_WIDGET_Notes'] > section div:last-child {
		margin-bottom: -59px;
	}

	/* Notes list: move up, hiding "Notes" title */
	[data-tooltipmark="noteslistcontainer"] {
		margin-top: -60px;
	}

	/* Home: "Customize" button */
	#qa-HOME-CONTAINER > div:nth-child(2) {
		position: absolute;
		top: -70px;
		left: 50%;
		width: 200px;
		z-index: 2;
	}

	#qa-HOME-CONTAINER > div:nth-child(5) {
		/* margin: -22px 0 0 0; */
	}

	[id*='qa-HOME-CONTAINER'] + section {
		margin-left: -13px;
	}


	#qa-ION_ONBOARDING_CHECKLIST,
	[id*='qa-HOME_WIDGET_HEADER_Notes'],
	#nav-toggle,
	#qa-NAV_POSITION_BOTTOM, /* Help button at bottom-left */
	.oTKQ3COHTq3aC9E5zaDA
	{
		display: none !important;
	}

	[role=dialog] {
		width: 95vw;
	}
	[role=dialog] header + div > div > div {
		/* Note info: make wider - to see full URL */
		grid-template-columns: 10% 90%;
	}

	/* History popup */
	#qa-DIALOG iframe {
		height: 80vh;
	}

}
